@font-face {
  font-family: Lato;
  src: url("../assets/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoItalic;
  src: url("../assets/lato/Lato-Italic.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../assets/lato/Lato-Light.ttf");
}
@font-face {
  font-family: LatoLightItalic;
  src: url("../assets/lato/Lato-LightItalic.ttf");
}
@font-face {
  font-family: LatoBlack;
  src: url("../assets/lato/Lato-Black.ttf");
}
@font-face {
  font-family: LatoBlackItalic;
  src: url("../assets/lato/Lato-BlackItalic.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../assets/lato/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBoldItalic;
  src: url("../assets/lato/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: LatoHairline;
  src: url("../assets/lato/Lato-Hairline.ttf");
}
@font-face {
  font-family: LatoHairlineItalic;
  src: url("../assets/lato/Lato-HairlineItalic.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../assets/raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: RalewayMedium;
  src: url("../assets/raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: RalewayLight;
  src: url("../assets/raleway/Raleway-Light.ttf");
}
@font-face {
  font-family: RalewayHeavy;
  src: url("../assets/raleway/Raleway-Heavy.ttf");
}
@font-face {
  font-family: RalewayBold;
  src: url("../assets/raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: RalewayThin;
  src: url("../assets/raleway/Raleway-Thin.ttf");
}
