:root {
  --main-color: #090909;
  --headers-color: #3891f0;
  --name-element-color: #3891f0;
  --blue-color: #3891f0;
}
@page {
  size: 1210px 1680px; /* Change from the default size of A4 */
  margin: 0mm; /* Set margin on each page */
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 1210px;
  height: 1680px;
  font-family: LatoLight;
  font-size: 20px;
  color: var(--main-color);
  border: none;
}

#header {
  border-bottom: solid 2px #3891f0;
  position: absolute;
  width: 1210px;
  top: 0px;
  left: 0px;
  height: 150px;
  text-align: center;
  font-family: LatoHairline;
  background: linear-gradient(135deg, rgba(56, 145, 240, 0.08) 0%, rgba(56, 145, 240, 0.03) 100%);
  color: var(--main-color);
  /* border-radius: 0 0 15px 15px; */
}
h1 {
  font-size: 70px;
  margin: 10px;
  font-family: LatoHairline;
}
h1 strong {
  font-weight: 700;
  font-family: LatoLight;
}
h2,
h3 {
  margin: 5px;
}
h2 {
  font-family: LatoBold;
  font-size: 30px;
  color: #3891f0;
}
h3 {
  font-size: 24px;
  text-decoration: overline;
  opacity: 0.9;
}
h4 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: LatoBold;
  margin: 0px;
  padding: 10px 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: #3891f0;
  background-color: rgba(56, 145, 240, 0.05);
  border-radius: 8px;
  border-left: 3px solid #3891f0;
}

h5 {
  font-size: 20px;
  margin: 0px;
  font-family: RalewayMedium;
  color: #000000cf;
  text-transform: uppercase;
  padding: 8px 12px;
  background-color: rgba(56, 145, 240, 0.08);
  border-radius: 6px;
  border: 1px solid rgba(56, 145, 240, 0.2);
  display: inline-block;
  margin-bottom: 8px;
}
h6 {
  font-size: 20px;
  margin: 0px;
  font-family: LatoLight;
  padding-bottom: 5px;
}
ul {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}
#leftSide {
  position: absolute;
  top: 150px;
  left: 8px;
  width: 450px;
  height: 1480px;
}

#information,
#education,
#techSkills,
#hobbies,
#languages {
  margin-top: 8px;
  padding: 10px 10px;
  margin-bottom: 4px;
  background-color: rgba(56, 145, 240, 0.02);
  border-radius: 12px;
  border: 1px solid rgba(56, 145, 240, 0.1);
}

.location,
.date {
  padding: 2px 6px;
  margin: 0px;
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
}

.tech-category {

  display: block;
  font-size: 20px;
  color: #3891f0;
  font-family: LatoBlack;
  margin-top: 2px;
  padding: 4px 8px;
  background-color: rgba(56, 145, 240, 0.1);
  border-radius: 4px;
  display: inline-block;
}
.skill {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 3px;
  font-family: LatoLight;
}
#languages {
  font-size: 23px;
}
.location-special {
  padding-left: 10px;
  font-family: LatoLight;
}

#languages table {
  width: 100%;
}

table td:first-child {
  padding-right: 10px;
  text-align: center;
  font-size: 18px;
  color: #3891f0;
}

table tr {
  padding: 4px 0;
}

table td {
  vertical-align: middle;
  padding: 2px 0;
}
.flag {
  width: 24px;
  height: 24px;
  padding: 0px;
}
.language {
  font-family: Lato;
}
.language-value {
  font-family: LatoLight;
  font-style: italic;
}
#rightSide {
  position: absolute;
  top: 140px;
  left: 450px;
  width: 750px;
  height: 1480px;
}

#projects {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
.project {
  margin-bottom: 10px;
}
.projectsList {
  list-style-type: none;
}
.project .content {
  display: block;
}
.project .content ul {
  list-style-type: '- ';
  padding-left: 1.2em;
  margin: 0px;
}

.project .content ul li:not(:last-child){
  margin-bottom: 6px; 
}

.projectName {
  font-family: Lato;
  font-size: 25px;
  color: #3891f0;
  font-weight: 600;
  padding: 4px 8px;
  background-color: rgba(56, 145, 240, 0.08);
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 4px;
}
.forEntreprise {
  padding-left: 10px;
  font-family: LatoLight;
  color: var(--main-color);
}
.entreprise {
  font-style: italic;
}
.techs {
  color: #3891f0;
  font-style: italic;
  margin-top: 4px;
  padding: 6px 12px;
  background-color: rgba(56, 145, 240, 0.1);
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid rgba(56, 145, 240, 0.2);
}

.elementDescription {
  margin-top: 10px;
  margin-bottom: 10px;
}
.content {
  color: black;
}
.sepProject {
  border-style: solid;
  border-color: #3891f0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 1px 0 0 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  opacity: 0.3;
}
.description {
  font-style: italic;
}

@media print {
  html,
  body {
    border: none;
  }
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-if-no-content {
  margin-bottom: 15px;
}
strong {
  font-weight: bold;
}

/* Certification */
.certification {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 6px 10px;
  background-color: rgba(56, 145, 240, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(56, 145, 240, 0.15);
}
.certification-image {
  width: 30px;
}
.certification-name {
  margin-left: 5px;
}
