:root {
  --main-color: #090909;
  --headers-color: #3891f0;
  --name-element-color: #3891f0;
  --blue-color: #3891f0;

  --page-width: 1210px;
  --page-height: 1680px;
  --header-height: 320px;
  --content-top-pos: 330px;
  --left-size: 400px;
}

@page {
  size: var(--page-width) var(--page-height);
  /* Change from the default size of A4 */
  margin: 0mm;
  /* Set margin on each page */

}

html,
body {
  margin: 0px;
  padding: 0px;
  width: var(--page-width);
  height: var(--page-height);
  font-family: LatoLight;
  font-size: 20px;
  color: var(--main-color);
  border: solid 1px black;
  box-sizing: border-box;
}



#header {
  border-bottom: solid 2px var(--blue-color);
  position: absolute;
  width: 1210px;
  top: 0px;
  left: 0px;
  height: var(--header-height);
  font-family: LatoHairline;
  background: linear-gradient(135deg, rgba(56, 145, 240, 0.08) 0%, rgba(56, 145, 240, 0.03) 100%);
  color: var(--main-color);
  display: flex;
  gap: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}


#leftSide {
  position: absolute;
  top: var(--content-top-pos);
  left: 30px;
  width: var(--left-size);
  height: 1480px;
}

.left {
  width: var(--left-size);
  padding-right: 20px;
}


#rightSide {
  position: absolute;
  top: var(--content-top-pos);
  left: 470px;
  width: 720px;
  height: 1480px;
}

/* -------------  HEADERS AND TEXT STYLES -------------- */

h1 {
  font-size: 50px;
  margin: 0 0 5px 0;
  font-family: LatoHairline;
}

h1 strong {
  font-weight: 700;
  font-family: LatoLight;
}

h2,
h3 {
  margin: 0;
}

h2 {
  font-family: LatoBold;
  font-size: 50px;
  color: var(--blue-color);
}

h3 {
  font-size: 24px;
  text-decoration: overline;
  opacity: 0.9;
}

.subtitle {
  font-size: 18px;
  font-family: LatoLight;
  color: #666666;
  margin: 0;
  line-height: 1.4;
  font-style: italic;
  text-align: justify;
}

h4 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: LatoBold;
  margin: 0px;
  padding: 10px 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--blue-color);
  background-color: rgba(56, 145, 240, 0.05);
  border-radius: 8px;
  border-left: 3px solid var(--blue-color);
}

h5 {
  font-size: 20px;
  margin: 0px;
  font-family: RalewayMedium;
  color: #000000cf;
  text-transform: uppercase;
  padding: 8px 12px;
  background-color: rgba(56, 145, 240, 0.08);
  border-radius: 6px;
  border: 1px solid rgba(56, 145, 240, 0.2);
  display: inline-block;
  margin-bottom: 8px;
}

h6 {
  font-size: 20px;
  margin: 0px;
  font-family: LatoLight;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

#information,
#education,
#techSkills,
#hobbies,
#languages {
  margin-top: 6px;
  padding: 6px 8px;
  margin-bottom: 2px;
  background-color: rgba(56, 145, 240, 0.02);
  border-radius: 8px;
  border: 1px solid rgba(56, 145, 240, 0.1);
}

/* Education specific styling for school names */
#education h5 {
  font-size: 20px;
  margin: 0px;
  font-family: RalewayMedium;
  color: #666666;
  text-transform: uppercase;
  padding: 0px;
  background: none;
  border-radius: 0px;
  border: none;
  display: inline-block;
  margin-bottom: 8px;
}

.location,
.date {
  padding: 2px 6px;
  margin: 0px;
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
}

.tech-category {

  display: block;
  font-size: 20px;
  color: var(--blue-color);
  font-family: LatoBlack;
  margin-top: 8px;
  padding: 4px 8px;
  background-color: rgba(56, 145, 240, 0.1);
  border-radius: 4px;
  display: inline-block;
}

.skill {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 3px;
  font-family: LatoLight;
}

#languages {
  font-size: 23px;
}

.location-special {
  padding-left: 10px;
  font-family: LatoLight;
}

#languages table {
  width: 100%;
}

table td:first-child {
  padding-right: 10px;
  text-align: center;
  font-size: 18px;
  color: var(--blue-color);
}

table tr {
  padding: 4px 0;
}

table td {
  vertical-align: middle;
  padding: 2px 0;
}

.flag {
  width: 24px;
  height: 24px;
  padding: 0px;
}

.language {
  font-family: Lato;
}

.language-value {
  font-family: LatoLight;
  font-style: italic;
}

#projects {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.project {
  margin-bottom: 10px;
}

.projectsList {
  list-style-type: none;
}

.project .content {
  display: block;
}

.project .content ul {
  list-style-type: '- ';
  padding-left: 1.2em;
  margin: 0px;
}

.project .content ul li:not(:last-child) {
  margin-bottom: 6px;
}

.projectName {
  font-family: Lato;
  font-size: 25px;
  color: var(--blue-color);
  font-weight: 600;
  padding: 4px 8px;
  background-color: rgba(56, 145, 240, 0.08);
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 8px;
}

.forEntreprise {
  padding-left: 10px;
  font-family: LatoLight;
  color: var(--main-color);
}

.entreprise {
  font-style: italic;
}

.techs {
  color: var(--blue-color);
  font-style: italic;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 6px 12px;
  background-color: rgba(56, 145, 240, 0.1);
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid rgba(56, 145, 240, 0.2);
}

.elementDescription {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  color: black;
}

.sepProject {
  border-style: solid;
  border-color: var(--blue-color);
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 1px 0 0 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  opacity: 0.3;
}

.description {
  font-style: italic;
}

@media print {

  html,
  body {
    border: none;
  }
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-if-no-content {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

/* Certification */
.certification {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 6px 10px;
  background-color: rgba(56, 145, 240, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(56, 145, 240, 0.15);
}

.certification-image {
  width: 30px;
}

.certification-name {
  margin-left: 5px;
}